.tail::before {
  content: "";
  position: absolute;
  height: 0px;
  border-left: 4vw solid transparent;
  border-top: 4vw solid #465192;
  right: -0.6vw;
  bottom: -4.6vw;
}

.tail::after {
  content: "";
  position: absolute;
  height: 0px;
  border-left: 3vw solid transparent;
  border-top: 3vw solid #3f4349;
  right: 0vw;
  bottom: -3.02vw;
}
