.message-component {
  border-color: #465192;
  border-style: solid;
  border-width: 0.6vw;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #3f4349;
  position: relative;

  padding-top: 4vw;
  padding-bottom: 1vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;

  font-size: 2.5vw;
}

.message-component-wrapper {
  position: relative;
}
